@page
@model CityBreaks.Pages.CityManager.CreateModel
@{
    ViewData["Title"] = "Create City";
}
<div class="col-4">
    <form method="post">
        <div class="mb-3">
            <label asp-for="CityName"></label>
            <input class="form-control" type="text" name="cityName" />
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    @if (Request.HasFormContentType && !string.IsNullOrWhiteSpace(Model.CityName))
    {
        <p>You submitted @Model.CityName</p>
    }
</div>